/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
}

main{
  position:relative;
}
nav{
  position:static !important;
  height:55px;
}

.navbar-header>a>img{ /* logo */
  height: 50px;
  width: 45px;
}
.navbar {
  padding: 0.3rem 1rem;
}

.vertical-align{
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.horizontal-align{
  margin:auto;
  width: 40%;
}

button.btn {
  padding-top: 0.575rem!important;
  padding-bottom: 0.575rem!important;
}
#zoneSelect{
  text-align:center;
}

#infoButton {
  margin: 5px;
  border-radius: 25px;
  margin-left: 10px;
  width: 34px;
}

#chooseZone{
  margin-left: 20px;
  padding: 7px 15px 7px 15px;
}

#llmap {
  height: calc(100vh - 105px);
  height: -moz-calc(100vh - 105px);
  height: -webkit-calc(100vh - 105px);
  height: -o-calc(100vh - 105px);
}

.footer {
  bottom: 0;
  width: 100%;
  padding-top: 6px;
  height: 50px;
  line-height: 40px;
}

.hide {
  display: none;
}

#modalZone {
  margin-top: 30vh;
}
#modalInfo {
  margin-top: 13vh;
}
.leaflet-vertex-icon {
  max-width: 10px;
  max-height: 10px;
  margin-left: -5px !important;
  margin-top: -5px !important;
  border-radius: 5px;
  background-color: #012891;
}
.leaflet-middle-icon {
  max-width: 8px;
  max-height: 8px;
  margin-left: -4px !important;
  margin-top: -4px !important;
  border-radius: 4px;
}
.leaflet-vertex-icon:hover {
  background-color: red;
}

/**
MARKERS
*/
.marker {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  position: relative;
  border-radius: 1rem 1rem 0;
  transform: rotate(45deg);
  border: 1px solid #FFFFFF;
}
.shift-marker {
  top: -1.3em;
  left: -1em;
}
.red-marker {
  background-color: red;
}

.blue-marker {
  background-color: blue;
}

.green-marker {
  background-color: green;
}
