<html lang='en'>
<head>
  <title>Project</title>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
  <link rel="stylesheet" href="https://leaflet.github.io/Leaflet.draw/src/leaflet.draw.css">
  <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="http://qucit.com" class="navbar-brand"><img src="{{url_for('static', filename='img/logo.png')}}" /></a> <h1 class='navbar-brand'>Project</h1>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto"></ul>
          <div class="my-2 my-md-0">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item hide">
                <div class='dropdown'>
                  <a class="nav-link dropdown-toggle" href="#" data-toggle='dropdown'>Errors<span class="caret"></span>
                    <ul class="dropdown-menu">
                    </ul>
                  </a>
                </div>
              </li>
              <li class="nav-item" id="changeZoneMenu">
                <a class="nav-link" href="#">Select Zone</a>
              </li>
              <li class="nav-item" id='connectionButtonContainer'>
                <a class="btn btn-outline-info nav-link {% if connected %} hide {% endif %}" href="#" id="connectButton">Sign in</a>
                <a class="btn btn-outline-secondary nav-link {% if not connected %} hide {% endif %}" href="#" id="disconnectButton">Sign out</a>
                <div style="display: none;" id="connectionStatus">{{ connected }}</div>
              </li>
              <li class="nav-item" id="infoMenu">
                <a class="btn btn-secondary nav-link text-white" href="#" id="infoButton"><i class="fa fa-info" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <!-- Begin page content -->
  <main role="main">
    <div id='llmap'></div>
  </main>


  <div class="modal" id="modalZone" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalZoneTitle">Choose a zone</h5>
          <button type="button" class="close hide" data-dismiss="modal" aria-label="Close" id="zoneSelectClose">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="col-md-12 text-center">
              <select name='zone' class='form-control' id="zoneSelectId">
                <option value='1'>Paris</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12 text-center">
              <input type="submit" class="btn" id="zoneSelectConfirm"/>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="modalInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalInfoTitle">Informations</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="zoneSelectClose">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="row">
              <div class="col-md-6 border-right">
                After choosing a zone, you have access to the detected OSM error. You can click on a marker to display the relative error.<br /><br />
                <b>Several errors may have happened :</b>
                <ul>
                  <li>
                    A building is badly placed : you have to edit nodes
                  </li>
                  <li>
                    A building is incomplete : you have to create new polygons
                  </li>
                  <li>
                    A building is on OSM but not in reality : you have to delete polygons
                  </li>
                  <li>
                    The error is not an error : you have to delete error with the red button
                  </li>
                </ul>
                After editing, you can send your changes to OSM with the blue button.
              </div>
              <div class="col-md-6">
                <p>
                  <b>Errors are represented by different markers :</b>
                  <div class="row">
                    <div class="col-1">
                      <span class="marker red-marker border-dark"></span>
                    </div>
                    <div class="col">
                      This building doesn't match with a polygon OSM.
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-1">
                      <span class="marker blue-marker border-dark"></span>
                    </div>
                    <div class="col">
                      This polygon OSM doesn't match with a real building.
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-1">
                      <span class="marker green-marker border-dark"></span>
                    </div>
                    <div class="col">
                      This building is not well represented on OSM.
                    </div>
                  </div>
                </p>
                <hr />
                <p>
                  <div class="row">
                    <div class="col-2">
                      <button type="button" class="btn btn-sm btn-primary mx-2" ><i class="fa fa-share-square" aria-hidden="true" ></i></button>
                    </div>
                    <div class="col">
                      Send the patch to OSM then remove the error.
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-2">
                      <button type="button" class="btn btn-sm btn-danger mx-2" ><i class="fa fa-thumbs-down" aria-hidden="true" ></i></button>
                    </div>
                    <div class="col">
                      Remove the error because there is not an error.
                    </div>
                  </div>
                </p>
              </div>
              <div class="col-md-12">
                <hr />
                <b>Keybindings :</b>
                <ul>
                  <li>
                    <b>X (hold)</b> : Hide the inside of the polygons
                  </li>
                  <li>
                    <b>C (hold)</b> : Display the OSM map over the map
                  </li>
                  <li>
                    <b>Left click (inside polygon)</b> : Create a hole (Close it by clicking on the last node)
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12 text-center">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <footer class="footer bg-dark">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <div class="row mx-auto">
            <button type="button" class="btn mx-2 px-4" disabled="true" id='prev' data-toggle="tooltip" data-placement="top" title="Go to previous error"> <i class="fa fa-backward" aria-hidden="true" ></i> </button>
            <button type="button" class="btn btn-primary mx-2 px-4" disabled="true" id="sendChanges" data-toggle="tooltip" data-placement="top" title="Send to OSM"><i class="fa fa-share-square" aria-hidden="true" ></i></button>
            <button type="button" class="btn btn-danger mx-2 px-4" disabled="true" id='refuseButton' data-toggle="tooltip" data-placement="top" title="It is not an error"><i class="fa fa-thumbs-down" aria-hidden="true" ></i></button>
            <button type="button" class="btn mx-2 px-4" disabled="true" id='next'> <i class="fa fa-forward" aria-hidden="true" ></i> </button>
          </div>
        </div>
        <div class="col-6">
          <span class='text-info'>Additional information about the website</span>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Promise"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.js"></script>
  <script src="https://npmcdn.com/leaflet.path.drag/src/Path.Drag.js"></script>
  <script src="http://leaflet.github.io/Leaflet.Editable/src/Leaflet.Editable.js"></script>
  <script src="{{url_for('static', filename='Bing.js')}}"></script>
  <script async src="{{url_for('static', filename='notify.min.js')}}"></script>
  <script src="{{url_for('static', filename='functions.js')}}"></script>
  <script>
  var connected = {% if connected %}true{% else %}false{% endif %};
  </script>
  <script src="{{url_for('static', filename='main.js')}}"></script>
</body>
</html>
